<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Profil</title>
</head>
<body>
    <h1>MON PROFIL</h1>

    <div>
        <p><strong>Nom :</strong> {{ utilisateur.nom }}</p>
        <p><strong>Prénom :</strong> {{ utilisateur.prenom }}</p>
        <p><strong>Pseudo :</strong> {{ utilisateur.pseudo }}</p>
        <p><strong>Date de naissance :</strong> {{ utilisateur.date_naissance }}</p>
        <p><strong>Adresse :</strong> {{ utilisateur.adresse }}</p>
        <p><strong>Mail :</strong> {{ utilisateur.email }}</p>
    </div>

    <a href="#">Modifier</a>
</body>
</html>
